PORT=5000
MONGODB_URI=mongodb+srv://user:pass@cluster.mongodb.net/flowtrack
JWT_SECRET=any_random_secure_string
CLIENT_URL=http://localhost:5173
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-gmail-app-password
FORMSPREE_URL=https://formspree.io/f/your_id
